

.nav{
  grid-area: n;
  background-color:deepskyblue;
  &__item{
    color: green;
  }
}

.item a{
  color: bisque;
  text-decoration: none;
}

.item a.active{
  color: green;
  font-size: 20px;
}


.friendsarea{
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: azure;
  margin-top: 100px;
}

.friends{
  font-size: 10px;
}

.friends img{
  width: 30px;
  border-radius: 50%;
}